.title {
  font-weight: 700;
  text-transform: uppercase;
}

.value {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.icon {
  opacity: 0.8;
  color: var(--mantine-color-blue-filled);
}

.chart {
  margin-top: var(--mantine-spacing-xl);
  padding: var(--mantine-spacing-md);
} 